{% extends "base.html" %}
{% load f33dme %}
{% block scripts %}
{% if is_inf_scroll %}
<script type="text/javascript" src="{% media_url %}/js/jquery.infinitescroll.min.js"></script>
{% endif %}
<script type="text/javascript">
$(document).ready(function(){
{% if is_inf_scroll %}
    $('#feeds').infinitescroll({

        navSelector : ".pagination",
        nextSelector : ".next_page",
        itemSelector : ".entry",
        errorCallback: function(){
            var archiving = new Array();
            $('.entry').not('.archived').each(function(i, e) {
                archiving.push($(e).attr('class').split(' ')[1]);
                $(e).addClass('archived');
            });
            if(archiving.length) {
                $.post(
                    '{% root_url %}/bulk_archive',
                    {ids: archiving.join(' ')},
                    function(data){
                        return true;
                    }
                );
            }
        },
        debug : false,
        donetext     : "I think we've hit the end, Jim" ,
        dataType : 'html',
        // appendCallback : false, // USE FOR PREPENDING
        // pathParse : function( pathStr, nextPage ){ return pathStr.replace('2', nextPage ); }
    }, function(newElements){
        //USE FOR PREPENDING
        // $(newElements).css('background-color','#ffef00');
        // $(this).prepend(newElements);
        //
        //END OF PREPENDING
        window.console && console.log('context: ',this);
        window.console && console.log('returned: ', newElements);
        window.console && console.log('len: ', $('.entry').length);
        var archiving = new Array();
        $('.entry').not('.archived').slice(0, -newElements.length).each(function(i, e) {
            archiving.push($(e).attr('class').split(' ')[1]);
            $(e).addClass('archived');
        });
        window.console && console.log('archiving: ', archiving);
        window.console && console.log('archiving_len: ', archiving.length);
        //{ids: '1921 1920 1919 1918 1917 1916 1927 1932 1926 1924'}
        if(archiving.length) {
            $.post(
                '{% root_url %}/bulk_archive',
                {ids: archiving.join(' ')} ,
                function(data){
                    return true;
                }
            );
        }
    });
{% endif %}
    $('#add_feed_link').click(function() {
        $('#feeddiv').toggle('slow');
        return false;
    });
    $('#add_feed').submit(function() {
        $.post( 
         "{% root_url %}/add_feed", 
            $("#add_feed").serialize(), 
            function(data){ 
                ; 
             } 
        );
        return false;
    });
    $('.archive').click(function() {
        var href= $(this).attr('href')
        var div = $(this).parent().parent()
        $.post( 
            href,
             {} ,
            function(data){ 
                div.hide('slow');
             } 
         );  
        return false;
    });
    $('#archive_all').click(function() {
        var href= $(this).attr('href')
        $.post( 
            href,
            {ids: '{{ item_ids }}'} ,
             function(data){
                window.location = window.location.pathname;
                return true;
             } 
        );
        return false;
        });
    $('#search_input').focus(function() {
        if($(this).attr('value')  == '//Search'){
            $(this).attr('value', '');
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div id="feeddiv" class="hidden border half"><h4>Add new feed</h4>
    <div>
        <form action="{% root_url %}/add_feed" method="post" name="add_feed" id="add_feed">
        {{ form.as_div }}
        <div class="form-row"><input type="submit" value="ookay" /></div>
        </form>
    </div>
   </div>
   <h2>Latest {% if not msg %}unread {%endif%}items ({{ item_num }})</h2>
<div id="feeds">
    {% for item in items.object_list %}
    <div class="entry {{ item.id }}{% if item.archived %} archived{% endif %}">
            <div class="right right_float"><a href="{% root_url %}/archive/{{ item.id }}" class="archive" title="Archive">Archive</a></div>
            <div class="right right_float"><a href="{% root_url %}/feed/{{ item.feed.id }}" title="show only this feed">{{ item.feed.name }}</a></div>
            <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
            <div class="item">{{ item.content|safe }}</div>
            <div class="right right_float">{{ item.date|date:"Y.m.d H:i:s" }}</div>
            <div class="item_footer">[{% if item.archived %}archived{% else %}unread{% endif %}]</div>
        </div>
        {% endfor %}
</div>
    <div class="pagination right">
    {% if item_num %}
        <a href="{% root_url %}/bulk_archive" title="Archive page" id="archive_all">Archive page</a>
    {% endif %}
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}" class="prev_page">&lt;&lt; previous</a>
        {% endif %}

        <span class="current">
            <a href="{{ page_url }}" class="page_url">Page {{ items.number }} of {{ items.paginator.num_pages }}.</a>
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}" class="next_page">next &gt;&gt;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% block left %}
<h1><a href="{% root_url %}/feeds" title="feed list">Feeds</a></h1>
{% if feeds %}
<table>
    <tr><th>Name</th><th>Items</th></tr>
    {% for feed in feeds %}
    <tr><td><a href="{% root_url%}/feed/{{ feed.id }}" title="show only this feed">{{ feed.name }}</a></td><td>{{ feed.item_number }}({{ feed.unread_item_number}})</td></tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
